
body {
    margin: 0;
}
header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 86px;
    box-shadow: 0px 0px 5px #000000;
}

header .profile-icon img{
    width: 30px;
    margin-right: 2em;
}

header nav .nav-list {
    display: flex;
    list-style: none;
}

header nav .nav-list .list-items {
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
}



header nav .nav-list .list-items a{
    text-decoration: none;
    color: grey;
}

header nav .nav-list .list-items a:hover {
    color: aqua;
}

header .container .logo {
    margin-right: auto;
    margin-left: 2em;
}

header .container .logo h1{
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
}

header .container .logo h3{
    font-size: 20px;
    font-weight: bold;
    color: #1f87b1;
    margin-top: 0px;
}

.image-post .image-background img {
    height: 150px;
    width: 100%;
}

.image-post {
    position: relative;
}

.image-post .container {
    position: absolute;
    top: 15%;
    padding: 10px;
    display: flex;
    color: white;
}

.image-post .container h4 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
}

.image-post .container p {
    align-self: center;
    margin-left: 750px;
    font-size: 18px;
}

.row-list-items {
    margin: 0px 45px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.row-list-items .row {
    display: flex;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.row-list-items .row .row-item .row-item-contentBlock .row-item-info h3 {
    font-size: 22px;
    color: #1f87b1;
    font-weight: bold;
}

.row-list-items .row .row-item .row-item-contentBlock .row-item-info p {
    font-size: 16px;
    font-weight: 500;
    padding: 0px 45px;
}

.row-list-items .row .row-item {
    padding: 25px;
}

.note-info {
    margin: 0px 550px;
}

.note-info .container p a {
    text-decoration: none;
}

.note-info .container {
    height: 100px;
    width: auto;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    margin-bottom: 15px;
}

.note-info .container p {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
    color: black;
}

.other-details .container{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
}



.other-details .container .container-items .list-box{
    list-style: none;
}

.other-details .container .container-items .list-box #title-head {
    font-size: 25px;
    color: #1f87b1;
    font-weight: bold;
    margin-bottom: 35px;
}

.other-details .container .container-items .list-box {
    padding: 15px;
}

.other-details .container .container-items .list-box .list-items {
    margin-bottom: 5px;
}



.bottom-bar .container {
    padding: 25px 0px;
    background-color: grey;
    opacity: 0.7;
}

.bottom-bar .container p{
    color: black;
    font-size: 18px;
    padding-left: 20px;
}




