/* 
.container{
    width: 1440px;
    max-width: 90%;
    margin: auto;
    padding: 0 16px;

}

header {
    margin: 0px;
}

header{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5); 
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding-left: 0;
    margin-left: 16px;
}

header .logo{
    display: inline-block;
    font-size: 27px;
}

header .logo h1{
    color: black;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: bold;
}

header .logo h5 {
    color: rgb(15, 94, 158);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}

header nav{
    display: inline-block;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: #444;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.37px;
    margin-right: 24px;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #3E50E5
} */


body {
    margin: 0;
}
header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 86px;
    box-shadow: 0px 0px 5px #000000;
}

header .profile-icon img{
    width: 30px;
    margin-right: 2em;
}

header nav .nav-list {
    display: flex;
    list-style: none;
}

header nav .nav-list .list-items {
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
}



header nav .nav-list .list-items a{
    text-decoration: none;
    color: grey;
}

header nav .nav-list .list-items a:hover {
    color: aqua;
}

header .container .logo {
    margin-right: auto;
    margin-left: 2em;
}

header .container .logo h1{
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
}

header .container .logo h5{
    font-size: 15px;
    font-weight: bold;
    color: #1f87b1;
    margin-top: 0px;
}

.image-post .image-background img {
    height: 150px;
    width: 100%;
}

.image-post {
    position: relative;
}

.image-post .container {
    position: absolute;
    top: 15%;
    padding: 10px;
    display: flex;
    color: white;
}

.image-post .container h4 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
}

.image-post .container p {
    align-self: center;
    margin-left: 750px;
    font-size: 18px;
}









